html,body{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4dfd9d7;
}
*{
    box-sizing: border-box;
}
.notification{
    border-radius: 20%;
    background-color: #030303b2;
    height: 160px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 22px 1px rgba(0,0,0,0.44);
}
label{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}
i{
    font-size: 24px;
    color: #808080;
    transition: all 0.4s ease-in-out;
}
input{
    display:none;
}
.mr-10{
    margin-right: 10px;
}
input[type="checkbox"]:checked+label{
    background-color: #66b866ea;
    -webkit-box-shadow: 0px 0px 44px 4px rgba(84,194,84,0.57);
    -moz-box-shadow: 0px 0px 44px 4px rgba(84,194,84,0.57);
    box-shadow: 0px 0px 44px 4px rgba(84,194,84,0.57);    
}
input[type="checkbox"]:checked + label i{
    font-size: 32px;
    color: #fff;
}
label.plane{
    position: relative;
}
i.fa-plane:after{
    content: "";
    height: 5px;
    /* width: 60px; */
    background-color: #0303036c;
    position: absolute;
    top: 27px;
    left: 0px;
    transition: all 0.4s;
    transform: rotate(45deg);
}
input[type="checkbox"]:checked + label i.fa-plane:after{
    width: 60px;
    transition: all 0.4s;
}
